/* SignInSignUp.css */

.signin-signup-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Full screen height */
    position: relative;
    color: #ffffff;
}

.form-container {
    z-index: 1;
    background: rgba(255, 255, 255, 0.1); /* Transparent glass effect */
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0px 10px 30px rgba(0, 198, 255, 0.2); /* Neon glow effect */
}

h1 {
    font-size: 48px;
    margin-bottom: 20px;
    background: linear-gradient(70deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 8s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

input {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    margin: 10px 0;
    background: rgba(255, 255, 255, 0.3);
    color: #ffffff;
}

button {
    padding: 15px 30px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(45deg, #00c6ff, #0072ff);
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 198, 255, 0.5);
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

button:hover {
    background: linear-gradient(45deg, #00f260, #0575e6);
    box-shadow: 0 15px 35px rgba(0, 242, 96, 0.6);
}
